:root {
	--olx-map-active-color: #02282c;
	--olx-map-inactive-color: #7f9799;
	--olx-map-white-color: #ffffff;
	--olx-map-background-color: #f1f1f1;
}

.olx-map-view-button {
	width: 24px;
	height: 24px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	color: var(--olx-map-inactive-color);
}

.olx-map-view-button.active {
	color: var(--olx-map-active-color);
}

.olx-map-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.olx-map-wrapper {
	position: relative;
	display: flex;
	height: 90vh;
	width: 96vw;
	margin-left: var(--olx-map-wrapper-offset, 0px);
}

.olx-map-offers-list {
	overflow-y: scroll;
}

.olx-map-offer-focussed {
	border: 2px solid var(--olx-map-active-color) !important;
	border-radius: 8px;
	transition: all 0.2s ease;
	overflow: hidden;
}

.olx-map-popup {
	width: 240px;
}

.olx-map-popup__image {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
	display: block;
}

.olx-map-popup__details {
	margin-top: 10px;
}

.olx-map-popup__title {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	max-height: 40px;
	overflow: hidden;
}

.olx-map-popup__price {
	margin-top: 6px;
	font-size: 16px;
	font-weight: bold;
}

.olx-map-popup__navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 14px;
}

.olx-map-popup__counter {
	font-size: 13px;
}

.olx-map-popup__navigation-button {
	cursor: pointer;
	border: none;
	background: var(--olx-map-background-color);
	padding: 6px 10px;
	border-radius: 6px;
}
